= form.fields_for :avatar, form.object.avatar || form.object.build_avatar do |t|
  .control-group
    = t.label :image, class: 'control-label' do
      = t.object.new_record? ? 'Foto' : 'Cambiar Foto'
      - if t.object.persisted?
        = image_tag form.object.avatar.url(:thumb)
    .controls
      = t.file_field :image

  .control-group
    = form.label :name, 'Nombre', class: 'control-label'
    .controls
      = form.text_field :name

  .control-group
    = form.label :nickname, 'Apodo', class: 'control-label'
    .controls
      = form.text_field :nickname

  .control-group
    = form.label :twitter, class: 'control-label'
    .controls
      .input-prepend
        %span.add-on twitter.com/
        = form.text_field :twitter, class: 'input-medium'

  .control-group
    = form.label :facebook, class: 'control-label'
    .controls
      .input-prepend
        %span.add-on facebook.com/
        = form.text_field :facebook, class: 'input-medium'
