= form.fields_for :avatar, form.object.avatar || form.object.build_avatar do |t|
  - if t.object.persisted?
    = image_tag form.object.avatar.url(:medium)
    %br
  = t.label :image, t.object.new_record? ? 'Foto' : 'Cambiar Foto'
  = t.file_field :image

= form.label :name
= form.text_field :name

= form.label :nickname, 'Apodo'
= form.text_field :nickname

= form.label :twitter do
  %p
    Twitter
  %i Ej. alan_andrade  o  napo_coco
= form.text_field :twitter

= form.label :facebook do
  %p
    Facebook
  %i Ej. alan.andrade  o  laberintoradiomexico
= form.text_field :facebook
