= form_for program, url: program_path do |f|
  = f.label :name, 'Nombre'
  = f.text_field :name
  = f.label :description, 'Descripcion'
  = f.text_area :description
  %br
  = f.submit 'Guardar', class: :btn
