.control-group
  = form.label :email, class: 'control-label'
  .controls
    = form.text_field :email

.control-group
  = form.label :password, form.object.new_record? ? 'Password' : 'Cambiar Password', class: 'control-label'
  .controls
    = form.password_field :password

= form.fields_for :bio, form.object.bio || form.object.build_bio do |bio|
  .control-group
    = bio.label :body, 'Biografia', class: 'control-label'
    .controls
      = bio.text_area :body, rows: 8
