%h2 Editar mi perfil

= form_for @user do |f|
  = f.fields_for :profile do |g|
    = render partial: 'profiles/form', object: g
  = render partial: 'form', object: f

  %br
  = f.submit 'Guardar', class: :btn
