.presenter
  .header
    .picture
      = image_tag @user.profile.avatar.url(:medium), width: 170 rescue nil
    .credentials
      %h1.name= @user.name
      .title Ingeniero en audio
      .social-networks
        = link_to 'twitter.com' do
          = image_tag('http://icons.iconarchive.com/icons/danleech/simple/48/twitter-icon.png')
        = link_to 'facebook.coom' do
          = image_tag('http://icons.iconarchive.com/icons/danleech/simple/48/facebook-icon.png')
        = link_to 'linkedin.coom' do
          = image_tag('http://icons.iconarchive.com/icons/danleech/simple/48/linkedin-icon.png')

  .row
    .body.span6
      .programs
        = render @programs
    .bio.span4
      %h2 Biografia
      :markdown
        #{@user.bio.body}
    .span2
      %h1 sponsor


= link_to 'Editar', edit_user_path(@user)
|
= link_to 'Nuevo Programa', new_user_program_path(@user)
