.container
  .row-fluid
    .span8.chat
      #messages-container
        %table.table.table-condensed.table-striped
          %thead
            %tr
              %th.span2
              %th.span6
          %tbody

      = form_tag '/', class: 'form-inline'  do
        = text_field_tag :message_box, nil, class: 'span8', placeholder: 'Escribe aqui tu mensaje'
        .hidden-desktop
          = button_tag 'Enviar', class: :btn
    .span4
- content_for :js do
  = javascript_include_tag "#{Yetting.chat_server}/socket.io/socket.io.js"
  = javascript_include_tag 'iscroll', 'underscore', 'laberinto.chat'
  = javascript_include_tag 'chat'
