.row-fluid
  .row
    .span12
      %a.btn.btn-large.btn-primary.play{href:'#'}
        %i.icon-play.icon-white
  .lr.chat
    .row
      .span8
        .board
          .welcome
            %h2
              ¡ Bienvenido !
              %br
              Comienza a construir un mejor país
        %input{type: 'text', class: 'span8 input', placeholder: 'Escribe aqui tu mensaje'}
      .span4
        .well
          %h3 Partipantes
          .list

  .modal.hide#nickname
    .modal-header
      %h3 Bienvenido
    .modal-body
      %p ¿ Cuál es tu nombre o apodo ?
      = text_field_tag 'user_nickname', nil, :placeholder => 'Nombre o apodo',  'tabindex' => 1
    .modal-footer
      %a.btn.btn-primary.ok{data: {dismiss: 'modal'}, 'tabindex' => 2}
        Ese soy yo!


- content_for :js do
  :javascript
    $(function(){
      $('a.play').click(function(e){
        e.preventDefault();
        window.open('http://tunein.com/radio/Laberinto-Radio-s140279/');
      });
    });
  = javascript_include_tag 'bootstrap-modal'
  = javascript_include_tag "#{Yetting.chat_server}/socket.io/socket.io.js"
  = javascript_include_tag 'laberinto.chat', 'chat'
