.row
  .span12
    .page-header
      %h1 Programación

.row
  .span12
    %h3{style: 'font-style: italic;'} Comunidad

.program
  .row
    = image_tag('la_voz.png', class: 'span1')
    .span2
      %h3 La voz de satélite
    .span1
      %p.badge.badge-inverse
        Lunes
      %p.badge.badge-success
        7:30 pm

    = image_tag 'saleyvale.png', class: 'thumbnail span1'
    .span2
      %blockquote.pull-right
        Decidimos hacer este espacio para crear conciencia.
        %small
          Juan Manuel

    = image_tag 'https://sphotos.xx.fbcdn.net/hphotos-snc6/227211_10150185196803390_4542777_n.jpg', class: 'thumbnail span1'
    .span2
      %blockquote.pull-right
        Creo en el poder de una ciudad que se basa en la organizacion.
        %small
          Fernando Mendizabal

.row
  .span12
    %h3{style: 'font-style: italic;'} Política

.program
  .row
    = image_tag 'el_trompo.png', class: 'span1'
    .span2
      %h3 El trompo
    .span1
      %p.badge.badge-inverse
        Lunes
      %p.badge.badge-success
        9:00 pm

    = image_tag 'https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-snc6/132758_10150357486355032_1715242_o.jpg', class: 'thumbnail span1'
    .span2
      %blockquote.pull-right
        Soy un soldado de la Democracia
        %small
          José Luis Barrera

.row
  .span12
    %h3{style: 'font-style: italic;'} Deportes

.program
  .row
    = image_tag 'el_ojo.png', class: 'span1 thumbnail'
    .span2
      %h3 Ojo del deporte
    .span1
      %p.badge.badge-inverse
        Lunes
      %p.badge.badge-success
        10:00 pm

    = image_tag 'https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash4/411698_10151760123420319_17368316_o.jpg', class: 'thumbnail span1'
    .span2
      %blockquote.pull-right
        El manchester es mi religión.
        %small
          Ernesto Horta

    = image_tag 'laberinto.png', class: 'thumbnail span1'
    .span2
      %blockquote.pull-right
        La nfl es el deporte que juega Dios.
        %small
          Acerero Arias

.row
  .span12
    %h3{style: 'font-style: italic;'} Desarrollo Personal

.program
  .row
    = image_tag 'noetica.jpg', class: 'span1 thumbnail'
    .span2
      %h3 Noética
    .span1
      %p.badge.badge-inverse
        Martes
      %p.badge.badge-success
        10:00 pm

    = image_tag 'https://sphotos-b.xx.fbcdn.net/hphotos-snc6/179866_10150429837700008_7930409_n.jpg', class: 'thumbnail span1'
    .span2
      %blockquote.pull-right
        %small
          Oscar Garay

.row
  .span12
    %h3{style: 'font-style: italic;'} Pensamiento crítico

.program
  .row
    = image_tag 'masa_critica.png', class: 'span1 thumbnail'
    .span2
      %h3 Masa Crítica
    .span1
      %p.badge.badge-inverse
        Miércoles
      %p.badge.badge-success
        9:00 pm

    = image_tag 'https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-snc7/400293_278368762216925_1706544034_n.jpg', class: 'thumbnail span1'
    .span2
      %blockquote.pull-right
        Solo se que el mundo debe pensar dos veces antes de entregar su mente a cualquier cosa.
        %small
          Gerardo Romero

.row
  .span12
    %h3{style: 'font-style: italic;'} Entretenimiento

.program
  .row
    = image_tag 'la_macana.png', class: 'span1 thumbnail'
    .span2
      %h3 La Macana
    .span1
      %p.badge.badge-inverse
        Jueves
      %p.badge.badge-success
        8:30 pm

    = image_tag 'https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash4/288554_10150316866913096_1751366409_o.jpg', class: 'thumbnail span1'
    .span2
      %blockquote.pull-right
        Te reto a que te hago reír, si no, la estación te paga la cena.
        %small
          Luis Palicio (el wiwis)

    = image_tag 'https://sphotos.xx.fbcdn.net/hphotos-prn1/26740_107174625970900_1398317_n.jpg', class: 'thumbnail span1'
    .span2
      %blockquote.pull-right
        Mi carnal (el wiwis) y yo queremos que pases un buen rato con la macana. Si, nuestro programa.
        %small
          Jorge Contreras (el coquis)

.row
  .span12
    %h3{style: 'font-style: italic;'} Ecología

.program
  .row
    = image_tag 'karma.png', class: 'span1 thumbnail'
    .span2
      %h3 Karma
    .span1
      %p.badge.badge-inverse
        Viernes
      %p.badge.badge-success
        9:00 pm

    = image_tag 'https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash4/395392_10150465170067284_1081487943_n.jpg', class: 'thumbnail span1'
    .span2
      %blockquote.pull-right
        Hay tantas manera de poder cuidar nuestro planeta, el problema es que no las conocemos.
        %small
          Fátima Celestín
