:css
  .program{
    margin-top:    15px;
    margin-bottom: 15px;
    padding-top:    15px;
    padding-bottom: 15px;
    border-bottom:  1px dashed #eee;
  }
  .program:hover{
    background: #ffe;
    border-bottom:  1px dotted #333;
  }

.row
  .span12
    .page-header
      %h1 Programacion

.row
  .span12
    %h3{style: 'font-style: italic;'} Comunidad

.program
  .row
    = link_to image_tag('la_voz.png', class: 'span1'), program_path
    .span2
      %h3 La voz de satelite
      .btn.btn-primary
        %i.icon-play.icon-white
    .span1
      %p.label.label-inverse
        Lunes
      %p.label.label-info
        8:00 pm

    = image_tag 'laberinto.png', class: 'thumbnail span1'
    .span2
      %blockquote.pull-right
        Decidimos hacer este espacio para crear conciencia.
        %small
          Juan Manuel

    = image_tag 'laberinto.png', class: 'thumbnail span1'
    .span2
      %blockquote.pull-right
        Creo en el poder de una ciudad que se basa en la organizacion.
        %small
          Fernando Mendizabal

.row
  .span12
    %h3{style: 'font-style: italic;'} Politica

.program
  .row
    = image_tag 'el_trompo.png', class: 'span1'
    .span2
      %h3 El trompo
      .btn.btn-primary
        %i.icon-play.icon-white
    .span1
      %p.label.label-inverse
        Lunes
      %p.label.label-info
        9:00 pm

    = image_tag 'laberinto.png', class: 'thumbnail span1'
    .span2
      %blockquote.pull-right
        La democracia es el aparato que mueve al mundo, y la democracia es mi pasion.
        %small
          Jose Luis Barrera

.row
  .span12
    %h3{style: 'font-style: italic;'} Deportes

.program
  .row
    = image_tag 'el_ojo.png', class: 'span1 thumbnail'
    .span2
      %h3 Ojo del deporte
      .btn.btn-primary
        %i.icon-play.icon-white
    .span1
      %p.label.label-inverse
        Lunes
      %p.label.label-info
        10:00 pm

    = image_tag 'laberinto.png', class: 'thumbnail span1'
    .span2
      %blockquote.pull-right
        El manchester es mi religion
        %small
          Ernesto Horta

    = image_tag 'laberinto.png', class: 'thumbnail span1'
    .span2
      %blockquote.pull-right
        La nfl es el deporte que juega Dios.
        %small
          Acerero Arias
