!!! 5

%html{lang: 'en'}
  %head
    %meta{charset: 'utf8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title Laberinto Radio : double split
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = yield :js
    = csrf_meta_tags

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %ul.nav
            %li
              %a{href: index_path }
                %i.icon-home.icon-white
                Inicio
            %li
              %a{href: chat_path}
                %i.icon-signal.icon-white
                Transmision
            %li
              %a{href: programacion_path }
                %i.icon-calendar.icon-white
                Programacion
            %li
              %a{href:'#'}
                %i.icon-user.icon-white
                Quienes Somos
            %li
              %a{href:'#'}
                %i.icon-briefcase.icon-white
                Ambiente de trabajo
            %li
              %a{href:'#'}
                %i.icon-bullhorn.icon-white
                Anunciate
          %ul.nav.pull-right
            %li
              %a.brand
                Laberinto Radio
    .container{style:'margin-top: 60px;'}
      = yield
    .footer{style: 'background: grey; margin-top: 40px; padding-top: 20px;'}
      .container
        %span12
          %h2 We use HTML 5 !
          %a{ href: 'http://www.w3.org/html/logo/' }
            %img{ src: 'http://www.w3.org/html/logo/badge/html5-badge-h-connectivity-css3-device-multimedia-semantics.png',
              width: "261",
              height: "64",
              alt: "HTML5 Powered with Connectivity / Realtime, CSS3 / Styling, Device Access, Multimedia, and Semantics",
              title: "HTML5 Powered with Connectivity / Realtime, CSS3 / Styling, Device Access, Multimedia, and Semantics" }
