!!! 5

%html{lang: 'en'}
  %head
    %meta{charset: 'utf8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title Laberinto Radio : double split
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = yield :js
    = csrf_meta_tags

  %body
    .container-fluid
      .row-fluid
        .span2
          %ul.nav.nav-pills.nav-stacked
            %li
              %a{href: '#'}
                %i.icon-home
                Inicio
            %li
              %a{href:'#'}
                %i.icon-signal
                Transmision
            %li
              %a{href:'#'}
                %i.icon-calendar
                Programacion
            %li
              %a{href:'#'}
                %i.icon-user
                Quienes Somos
            %li
              %a{href:'#'}
                %i.icon-briefcase
                Ambiente de trabajo
            %li
              %a{href:'#'}
                %i.icon-bullhorn
                Anunciate
        .span10
          = yield
